.bgButton{
    background-color: black !important;
}

.bgForm{
     /* background: linear-gradient(135deg, #0a2a43, #4a90e2);  */
    background-image: url('../../assets/BG-Login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.bgForm::before {
    background-color: rgba(0, 0, 0, 0.9);
}

.styleButton{
    border: white solid 2px;
    border-radius: 5px;
    width: 100%;
}

.bgInfoCoin, .styleImputDates{
    background-color:#d9d9d9 !important;
   
}

.styleImputDates{
    border: black solid 2px !important;
}

/* .styleButton, .styleImputDates{
    width: 75% !important;
    margin: 0 auto;
} */


  
  
  
 