.bgButton{
    background-color: black !important;
}

.bgForm{
     background: linear-gradient(135deg, #0a2a43, #4a90e2); 
    /* background-image: url('../../assets/BG-Login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.1); /* Color negro con 50% de opacidad */
   /* background-blend-mode: darken;  */ 
    
}

.bgInfoCoin{
    background-image: url('../../assets/BG-Login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.1); 
  background-blend-mode: darken;
}

.styleButton{
    border: white solid 2px;
    border-radius: 5px;
    width: 100%;
}

.styleImputDates{
    background-color:#d9d9d9 !important;
   
}

.styleImputDates{
    border: black solid 2px !important;
}


p{
    font-weight:700;

}

  
  
  
 