.titlleHero{
    font-size: 4.4rem !important;
}
.btnCustomHero {
    background-color: transparent !important;
    border: 2px solid #fff !important;
    border-radius: 0 !important;
    font-weight: bold;
    font-size: 1.1rem !important;
    position: relative;
    overflow: hidden;
    color: #FF007F;
    transition: color 0.3s ease;
    z-index: 1;
}  
.btnCustomHero span {
    position: relative;
    z-index: 2;
}  
.btnCustomHero::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #9e9ea2;
    transition: left 0.3s ease;
    z-index: 1;
}  
.btnCustomHero:hover {
    color: #fff;
}  
.btnCustomHero:hover::before {
    left: 0;
}
  